// ==============================================
// Font Face Declarations
// ==============================================

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
