@use "variables" as *;
@use "fonts";

// ==============================================
// Layout Principal
// ==============================================

/*#root {
  max-width: 1280px;
  text-align: center;
  background-color: $primary-blue;
  display: flex;

  @media (max-width: px) {}
}*/
